body {background-color: silver;}

.main-container {
  margin: 50px 10px;
}

.url-input-text {
  float: left;
  height: 50px;
  width: 900px;
  padding-left: 15px;
  border-radius: 25px 0 0 25px;
  border: 1px gray solid;
  font-size: 20px; 
}
.url-input-submit {
  float: left;
  height: 50px;
  width: 100px;
  padding-left: 5px;
  border-radius: 0 25px 25px 0;
  border: 1px gray solid;
  font-size: 20px;
}

.mt-skip {
  margin-top: 50px;
}

.button-fonts {
  padding: 0px;
  font-size: 28px;
}

ul li.list-group-item {
  padding: 5px 20px;
  font-size: 24px;
}

.black-border td{
  border-color: black;
}

.border-color-red {
  border: 2px red solid;
}
.border-color-yellow {
  border: 2px yellow solid;
}
.border-color-yellowgreen {
  border: 2px yellowgreen solid;
}
.border-color-green {
  border: 2px green solid;
}
.border-color-orange {
  border: 2px orange solid;
}
.border-color-orangered {
  border: 2px orangered solid;
}
.border-color-black {
  border: 2px black solid;
}
.border-color-blue {
  border: 2px blue solid;
}
.border-color-blueviolet {
  border: 2px blueviolet solid;
}
.border-color-purple {
  border: 2px purple solid;
}